.sidebar {
    width: 25rem;
    background: #fff;
    box-shadow: var(--box-shadow);
    z-index: 1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 3rem 1rem;
}

.sidebar .sidebarLogo {
    display: flex;
    gap: 10px;
}

.sidebar .sidebarLogo .nameLogo {
    font-size: 1rem;
}